[project]
	description = Documentation and extensions for the DRMF MediaWiki deployment
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/sharmaans
[access "refs/for/refs/*"]
	read = group user/sharmaans
	push = group user/sharmaans
	label-Code-Review = -2..+2 group user/sharmaans
	label-Verified = -1..+1 group user/sharmaans
	rebase = group user/sharmaans
	removeReviewer = group user/sharmaans
	submit = group user/sharmaans
[access "refs/heads/*"]
	read = group user/sharmaans
	create = group user/sharmaans
	push = +force group user/sharmaans
	pushMerge = group user/sharmaans
[access "refs/tags/*"]
	push = +force group user/sharmaans
	pushTag = group user/sharmaans
	pushSignedTag = group user/sharmaans
